.contact-form-container {
  background: #f4f3f3;
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: flex;
}

.contact-us:before {
  position: absolute;
  content: "";
  bottom: -50px;
  left: -100px;
  height: 250px;
  width: 400px;
  background: #f8b7d8;
  transform: rotate(25deg);
}
.contact-us:after {
  position: absolute;
  content: "";
  bottom: -80px;
  right: -100px;
  height: 270px;
  width: 400px;
  background: #9ed8eb;
  transform: rotate(-25deg);
}

.contact-header {
  color: white;
  position: absolute;
  transform: rotate(-90deg);
  top: 120px;
  left: -40px;
}


.contactCont{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.infoPersonal{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.wasap {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.mailContact {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.h2Contact{
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 40%;
}

.whatsappCont{
  color: black;
}
.whatsappText{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #28B463;
}

.emailCont{
  color: black;
}
.emailText{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DB4A39;
}

form {
  position: relative;
  width: 440px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: white;
}
form input,
form textarea {
  background: white;
  display: block;
  margin: 20px auto;
  width: 100%;
  border: 0;
}
form input {
  height: 40px;
  line-height: 40px;
  outline: 0;
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  font-size: 1rem;
  color: rgba(68, 68, 68, 0.8);
}
form textarea {
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  resize: none;
  outline: none;
  font-size: 1rem;
  font-family: lato;
  color: rgba(68, 68, 68, 0.8);
}
form button {
  position: absolute;
  display: block;
  height: 40px;
  width: 250px;
  left: 95px;
  border: 0;
  border-radius: 20px;
  bottom: -20px;
  background: var(--boulder-200);
  color: var(--boulder-100);
  font-size: 1.1rem;
  font-weight: 300;
  outline: none;
}

.contact-form {
  padding-bottom: 40px;
}

.contact-form-container {
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 2fr;
  grid-template-areas: "contact-us header header header" "contact-us address phone email" "contact-us contact-form contact-form contact-form";
}
